gradio==4.19.2
plotly==5.18.0
pandas==2.1.4
numpy==1.24.3
transformers==4.36.2
sentence-transformers==2.3.1
faiss-cpu==1.7.4
gTTS==2.5.1
openai-whisper==20231117
pydub==0.25.1
groq==0.4.2
Pillow==10.1.0
torch==2.1.2
torchaudio==2.1.2
email-validator==2.1.0.post1
